@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css");
body {
  font-family: "Open Sans", sans-serif;
}
*::selection {
  background-color: rgb(50, 124, 224) !important;
  color: white !important;
}

.md-app-scroller.md-layout-column.md-flex.md-theme-default.md-scrollbar {
  padding-left: 0 !important;
  /* height: 100%; */
  border: 0 !important;
  overflow: initial;
}

a.router-link-active.router-link-exact-active {
  display: inherit;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.87);
  align-items: center;
  &:hover {
    text-decoration: none;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.87);
  }
}

.view {
  overflow-y: auto !important;
  overflow-x: hidden;
}

*::moz-selection {
  background-color: rgb(50, 124, 224) !important;
  color: white !important;
}
