@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css");
body {
  font-family: "Open Sans", sans-serif;
}
*::selection {
  background-color: rgb(50, 124, 224) !important;
  color: white !important;
}

*::moz-selection {
  background-color: rgb(50, 124, 224) !important;
  color: white !important;
}
