.item-name {
  text-transform: uppercase;
  margin: 0 10px;
}
.screen-name {
    text-transform: uppercase;
      max-width: 1200px;
      display: inline-block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    // display: flex;
    // justify-content: space-evenly;
    // align-items: center;
}
.screen-retailer, .screen-date {
  text-align: right;
  text-transform: uppercase;
  white-space: nowrap;
}

.md-layout-item.screen-name {
  flex-basis: unset!important;
  padding-left: 0!important;
}
.item-date {
  // margin-right: 18px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  & .md-dialog-actions {
    padding :8px 0 8px 24px!important;
  }
}
.header {
  // border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin: 20px 0;
  padding: 0;
  align-items: center;
}

.header.md-layout.md-gutter {

    margin-right: 20px;
    margin-left: 20px;

}
.md-layout.md-gutter > .md-layout-item.item-date{
  padding-right: 0!important;

}

.item-date > .md-button .md-ripple {
  padding: 0!important;
  justify-content: right;
}

@media (max-width: 1280px) {
.md-layout-item.screen-name{
padding-right: 12px;
padding-left: 12px;
max-width: 400px!important
}
}