.container :not(.info) {
  display: block;
}

.md-dialog.loading {
  background-color: transparent !important;
  box-shadow: none !important;
}

.md-dialog.price-alert {
  height: 80%;
  width: 80%;
  overflow-y: auto;
  & .md-checkbox {
    display: flex;
  }
}

.main {
  display: inline-block !important;
  & .md-table-row:first-child {
    margin: 0 20px !important;
    display: block;
    background-color: #f4f6fb !important;
    justify-content: center;
  }
}

.name {
  text-align: left !important;
}

.md-table {
  background-color: transparent !important;
  width: 100%;
  & .md-table-row:first-child {
    background-color: #f4f6fb !important;
    border: 0;
  }
  & .md-table-row {
    background-color: white !important;
    border-bottom: 10px solid #f4f6fb;
    height: 62px !important;
  }
}

.sub-wrapper {
  margin-top: 20px;
  & span {
    font-weight: bold;
    font-size: 13px;
  }
}

// .md-table-head {
//   padding: 0 30px !important;
//   &:nth-child(2) {
//     padding: 0 80px 0 0 !important;
//     text-align: left !important;
//   }
// }

.md-table-cell-container {
  padding: 0 32px 0 0 !important;
}

.md-table-head .md-table-head-container {
  padding: 16px 32px 0 0 !important;
  text-align: center;
}

.thumb img {
  vertical-align: middle;
  padding: 5px;
  max-width: 54px;
  max-height: 54px;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}
