.container :not(.info) {
  display: block;
}

.md-dialog.loading {
  background-color: transparent !important;
  box-shadow: none !important;
}

.md-dialog.price-alert {
  height: 80%;
  width: 80%;
  overflow-y: auto;
  & .md-checkbox {
    display: flex;
  }
}

.main {
  display: inline-block !important;
  & .md-table-row {
    margin: 0 20px !important;
    display: flex;
    background-color: #f4f6fb !important;
    justify-content: center;
  }
}

.md-table {
  background-color: transparent !important;
  width: 100%;
}

.md-table-head {
  padding: 0 30px !important;
  &:nth-child(2) {
    padding: 0 80px 0 0 !important;
    text-align: left !important;
  }
}
