.container :not(.info) {
  display: block;
}

.md-dialog.graph.loading .md-dialog-container.md-theme-default {
  background-color: transparent !important;
  /* background-color: var(--md-theme-default-background, #fff); */
  color: rgba(0, 0, 0, 0.87);
  color: var(
    --md-theme-default-text-primary-on-background,
    rgba(0, 0, 0, 0.87)
  );
  box-shadow: none !important;
}

.md-dialog.price-alert {
  height: 80%;
  width: 80%;
  overflow-y: auto;
  & .md-checkbox {
    display: flex;
  }
}

.md-table.md-theme-default .md-table-row td {
  border-top-color: transparent !important;
}

.name .md-table-head-container {
  text-align: left !important;
}

.md-table .md-table-row {
  &.main-row {
    // border-bottom: 10px #f4f6fb !important;
    height: 50px !important;
    & .thumb img {
      max-width: 40px;
      max-height: 40px;
    }
  }
}

.main {
  display: inline-block !important;
  & .md-table-row:first-child {
    margin: 0 20px !important;
    display: block;
    background-color: #f4f6fb !important;
    justify-content: center;
  }
}

.single-container {
  margin-bottom: 50px;
}

.main-single .md-table-head:not(.name) .md-table-head-container {
  padding: 16px 0 !important;
  text-align: center;
}

.name {
  text-align: left !important;
}

.md-table {
  background-color: transparent !important;
  width: 100%;
  & .md-table-row:first-child {
    background-color: #f4f6fb !important;
    border: 0;
  }
  & .md-table-row {
    background-color: white !important;
    border-bottom: 10px solid #f4f6fb;
    height: 62px !important;
  }
}

.sub-wrapper {
  margin-top: 20px;
  & span {
    font-weight: bold;
    font-size: 13px;
  }
}

.md-table-cell.item .md-table-cell-container {
  text-align: left;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

// .md-table-head {
//   padding: 0 30px !important;
//   &:nth-child(2) {
//     padding: 0 80px 0 0 !important;
//     text-align: left !important;
//   }
// }

.md-table-cell-container {
  padding: 0 32px 0 0 !important;
}

.md-table-head .md-table-head-container {
  padding: 16px 32px 0 0 !important;
  text-align: center;
}

.thumb img {
  vertical-align: middle;
  padding: 5px;
  max-width: 54px;
  max-height: 54px;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}
