ul {
  list-style-type: none;
  padding: 0;
  & li {
    display: inline-block !important;
    margin: 0 10px;
  }
}
.page-item li {
  display: inline-block;
}
h1,
h2 {
  font-weight: normal;
}

a {
  color: #42b983;
}
.pagination {
  margin: 20px 0;
  border-top: 1px solid black;
  padding: 10px 0;
}

.page-item.active {
  border-radius: 3px;
  position: static !important;
  background-color: #448aff !important;
  padding: 5px 10px;
  & a {
    color: black !important;
  }
}
