input:-internal-autofill-previewed {
  background-color: transparent !important;
}

#labels .md-layout-item.md-size-20 {
  min-width: unset;
  max-width: 50px;
  flex: 0 1 20%;
  margin: 5px;
}

div#labels {
  padding-bottom: 20px;
}

input[type="number"] {
  -moz-appearance: textfield;
}

span.md-error {
  width: 500px;
}

#labels .md-field .md-input,
.md-field .md-textarea {
  max-width: 50px;
  padding-left: 5px;
}

#form .md-card-content {
  padding: 0 !important;
}
.md-layout {
  & #labels {
    align-items: baseline;
  }
  & .md-body-1 {
    padding-left: 40px;
  }
}

.md-card-actions.md-alignment-left {
  margin-top: 20px;
  padding-left: 0;
}

.md-button .md-ripple {
  padding: 0 !important;
}

.is-error {
  border: 1px solid red !important;
}

.md-field .md-input,
.md-field .md-textarea {
  background: #fbf9f4 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
