input:-internal-autofill-previewed {
  background-color: transparent !important;
}

.md-layout {
  & #labels {
    align-items: baseline;
  }
  & .md-body-1 {
    padding-left: 40px;
  }
}

.md-card-actions.md-alignment-left {
  margin-top: 20px;
  padding-left: 0;
}

.md-button .md-ripple {
  padding: 0 !important;
}
