$error-status: #f05545;
$icon-size: 1rem;

.md-dialog.loading {
  background-color: transparent !important;
  box-shadow: none !important;
}

.price-settings .md-layout.md-gutter:not(:last-child) {
  margin-bottom: 10px;
  padding: 24px 24px 0;
}

.amz .price-head .md-table-head-container {
  text-align: left !important;
  padding-left: 80px !important;
}

.amz .price-head .md-table-cell-container {
  text-align: left !important;
  padding-left: 80px !important;
}

.md-layout.md-gutter .md-layout-item .md-dialog-actions {
  justify-content: flex-start;
  padding-top: 10px;
}

.price-settings hr:not(.action-divider) {
  width: 80%;
}

.ignore-button {
  border: 1px solid rgba(0, 0, 0, 0.12) !important;
}

.container :not(.info) {
  display: block;
}

#price-actions {
  position: fixed;
  bottom: 20px;
}

.price-settings .md-dialog-container {
  width: 80%;
}

.md-dialog.price-alert {
  height: 80% !important;
  width: 80%;
  margin: auto;
  & .md-checkbox {
    display: flex;
  }
}

.price-table .md-table-cell-container {
  padding: 0 !important;
}

.ignore-button {
  box-shadow: none !important;
}

.error {
  color: $error-status;
}

.unavailable i {
  color: rgba(0, 0, 0, 0.26) !important;
  font-size: $icon-size !important;
}
