$error-status: #f05545;

.md-dialog.loading {
  background-color: transparent !important;
  box-shadow: none !important;
}

.price-settings .md-layout.md-gutter:not(:last-child) {
  margin-bottom: 10px;
  padding: 24px 24px 0;
}

.md-layout.md-gutter .md-layout-item .md-dialog-actions {
  justify-content: flex-start;
  padding-top: 10px;
}

.price-settings hr:not(.action-divider) {
  width: 80%;
}

.container :not(.info) {
  display: block;
}

.md-dialog.price-alert {
  height: 80%;
  width: 80%;
  overflow-y: auto;
  & .md-checkbox {
    display: flex;
  }
}

.price-table .md-table-cell-container {
  padding: 0 !important;
}

.ignore-button {
  box-shadow: none !important;
}

.error {
  color: $error-status;
}
