.loading {
  background-color: transparent !important;
  box-shadow: none !important;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.md-dialog.price-alert {
  height: 80%;
  width: 80%;
  & .md-checkbox {
    display: flex;
  }
}
