$ok-status: #60ad5e;
$alert-status: #ff9d3f;
$error-status: #f05545;
$error-background: #ffb8ab;
$text-on-dark: #fafafa;
$text-on-alert: #000000;
$icon-size: 1.3rem;

.thumb img {
  height: 54px;
  max-width: 54px;
  min-width: 54px;
  vertical-align: middle;
}
.alert-wrapper {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.md-icon.md-theme-default.md-icon-font.ok-status {
  color: $ok-status;
  font-size: $icon-size !important;
}
.md-icon.md-theme-default.md-icon-font.no-status {
  color: $error-status;
  font-size: $icon-size !important;
}
.md-icon.md-theme-default.md-icon-font.alert-status {
  color: $alert-status;
  font-size: $icon-size !important;
}

.filtro-alert {
  background-color: $error-background !important;
  color: $text-on-alert;
}

.filtro-alert,
.price,
.discount,
.item {
  cursor: pointer;
  color: black !important;
}

.price,
.filtro-alert,
.discount {
  text-align: right;
}

.price a,
.discount a,
.filtro-alert a,
.discount a,
.item a,
.thumb a,
.thumb img {
  text-decoration: none;
  color: rgba(0, 0, 0, 1) !important;
  font-weight: 400;
  cursor: pointer;
  & :hover {
    text-decoration: none;
  }
}

.price a:hover,
.discount a:hover {
  text-decoration: none;
}
.amz {
  margin: 20px 0;
}

.title {
  color: rgba(0, 0, 0, 1) !important;
  font-weight: 300;
  font-size: 22px;
  display: inline-block;
}

.settings {
  display: inline-block;
  padding: 0 !important;
}

// .item {
//   // padding: 6px 24px 6px 24px !important;
//   width: 220px !important;
//   overflow: hidden !important;
//   white-space: nowrap;
//   text-overflow: ellipsis;
// }

.md-app-scroller.md-layout-column.md-flex.md-theme-default.md-scrollbar {
  padding-left: 70px !important;
}

.md-table-cell-container {
  padding: 0 !important;
}
.md-table-head {
  font-size: 13px !important;
}
