$ok-status: #60ad5e;
$alert-status: #ff9d3f;
$error-status: #f05545;
$error-background: #ffb8ab;
$text-on-dark: #fafafa;
$text-on-alert: #000000;
$icon-size: 1rem;
$filtro-alert: rgba(255, 0, 0, 0.12);

.thumb img {
  // height: 54px;
  // max-width: inherit;
  // min-width: inherit;
  vertical-align: middle;
  padding: 5px;
  max-width: 54px;
  max-height: 54px;
  object-position: 50% 50%;
  object-fit: scale-down;
}
.alert-wrapper {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  & .md-title.title {
    font-weight: 400;
  }
}

.md-icon.md-theme-default.md-icon-font.ok-status {
  color: $ok-status;
  font-size: $icon-size !important;
}
.md-icon.md-theme-default.md-icon-font.no-status {
  color: $error-status;
  font-size: $icon-size !important;
}
.md-icon.md-theme-default.md-icon-font.alert-status {
  color: $alert-status;
  font-size: $icon-size !important;
}

.filtro-alert {
  background-color: $filtro-alert !important;
  color: $text-on-alert;
}

.filtro-alert,
.price,
.discount,
.item {
  cursor: pointer;
  color: black !important;
}

.price,
.filtro-alert,
.discount {
  text-align: right;
}

.price a,
.discount a,
.filtro-alert a,
.discount a,
.item a,
.thumb a,
.thumb img {
  text-decoration: none;
  color: rgba(0, 0, 0, 1) !important;
  font-weight: 400;
  cursor: pointer;
  & :hover {
    text-decoration: none;
  }
}

.price a:hover,
.discount a:hover {
  text-decoration: none;
}
.amz {
  margin: 20px 0;
}

.title {
  color: rgba(0, 0, 0, 1) !important;
  font-weight: 300;
  font-size: 22px;
  display: inline-block;
}

.settings {
  display: inline-block;
  padding: 0 !important;
  margin-left: auto;
}
.rank,
.reviews {
  text-align: center;
}
// .item {
//   // padding: 6px 24px 6px 24px !important;
//   width: 220px !important;
//   overflow: hidden !important;
//   white-space: nowrap;
//   text-overflow: ellipsis;
// }

.md-app-scroller.md-layout-column.md-flex.md-theme-default.md-scrollbar {
  padding-left: 70px !important;
}

.md-table-cell-container {
  padding: 0 !important;
}

.md-table-head {
  font-size: 13px !important;
}

.item.is-dashboard {
  width: 400px;
  max-width: 400px;
}

.md-table-cell.prezzo.is-dashboard,
.md-table-cell.cheap.is-dashboard .md-table-cell.stock.is-dashboard {
  width: 65px;
  max-width: 65px;
}

.stock-item .md-table-cell-container {
  background-color: white !important;
  border-right: 3px solid rgba(0, 0, 0, 0.54);
  // padding-left: 15px;
  border-radius: 3px;
  height: 100%;
  display: flex;
  align-items: center;
}

.retailer .md-table-head-container {
  padding-right: 32px;
}

.md-table-head:not(.name) .md-table-head-container {
  padding: 16px 0;
  text-align: center;
}

.md-table-head-label {
  padding: 0 !important;
}

.item .md-table-cell-container {
  padding: 0 32px 0 0 !important;
}

.retailer .md-table-head-container {
  text-align: center !important;
}

.unavailable i {
  color: rgba(0, 0, 0, 0.26) !important;
  font-size: $icon-size !important;
}

.md-table-cell.price .md-table-cell-container,
.md-table-cell.discount .md-table-cell-container {
  white-space: nowrap;
}

.md-table-cell.filtro-alert .md-table-cell-container {
  white-space: nowrap;
}

.md-table-cell.item {
  width: 280px;
  max-width: 280px;
}
.discount.is-dashboard,
.filtro-alert.is-dashboard:not(.fix) {
  font-size: 0.7rem;
}
.stock .md-table-cell-container {
  padding: 0 32px 0 10px !important;
  // width: 55px !important;
}

.price .md-table-cell-container,
.filtro-alert .md-table-cell-container,
.discount .md-table-cell-container,
.stock .md-table-cell-container,
.rank .md-table-cell-container,
.track .md-table-cell-container,
.buybox .md-table-cell-container,
.reviews .md-table-cell-container {
  padding: 0 10px 0 10px !important;
  // width: 55px !important;
}

.md-table-cell.stock.is-dashboard {
  padding-right: 32px;
}

.md-icon.md-theme-default.md-icon-font.no-status {
  color: $error-status;
  font-size: $icon-size !important;
}
