.graph {
  width: 100%;
  & .md-table .md-table-row:first-child {
    background-color: white !important;
  }
  & .md-table-row {
    border-bottom: 2px solid #d4d4d4 !important;
    border-top: 2px solid #d4d4d4 !important;
  }
}

.thumbnail {
  margin: auto;
}
.md-dialog.graph {
  position: fixed;
  left: 50%;
  top: 50%;
  /* overflow-y: auto; */
  overflow-x: hidden;
  overflow-y: scroll;
  max-width: 80%;
  max-height: 90%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* -webkit-transform: translateZ(0); */
  display: block;
}
// .md-dialog.graph {
//   position: absolute;
//   top: 30%;
//   overflow-y: auto;
//   overflow-x: hidden;
//   max-width: 80%;
//   max-height: 80%;
// }
.lowest-price {
  color: green;
}
.highest-price {
  color: #ff867c;
}
.tablegraph {
  margin-top: 100px;
  align-items: center;
  & tr:nth-child(even) {
    background-color: #f8f8f8;
  }
}
.first-table,
.second-table {
  padding: 0 50px !important;
}

.md-layout.md-gutter.tablegraph {
  margin: 60px 0 !important;
}

.md-table.graph table .md-table-cell-container {
  text-align: left;
}
