.page-container {
  min-height: 300px;
  overflow: hidden;
  border: 1px solid rgba(#000, 0.12);
}

.md-drawer {
  width: 240px !important;
  max-width: calc(100vw - 125px);
}
.md-list-item-content.dashboard span {
  padding: 10px 10px;
  transition: all 0.3s;
}

.md-list-item-content > a .md-icon:first-child {
  margin-right: 32px;
}

.md-list-item-content > i:hover {
  cursor: pointer;
}

.amz-active {
  background-color: rgb(244, 246, 251) !important;
  border-left: 3px solid #88b3dd;
  padding-left: 15px;
  border-radius: 3px;
}

a:not(.md-button) {
  text-decoration: none !important;
}
.md-drawer.md-persistent-mini:not(.md-active) .md-list-item-content {
  padding: 23px 7px !important;
}

.md-list-item-content > span:hover {
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.4s;
}

.md-list {
  margin: 120px 0 !important;
}

.md-content {
  // padding: 16px;
}

.md-subheading a {
  color: #ffffff !important;
  cursor: pointer;
}

.md-list-item-content {
  justify-content: inherit !important;
}

.login {
  flex: 1;
  text-align: right;
  padding: 0 60px;
  & a {
    color: rgba(0, 0, 0, 0.87) !important;
    float: right;
    cursor: pointer;
  }
  & button {
    flex: 1;
  }
}
.md-table-head-label {
  padding-left: 12px !important;
}

.md-table-cell-container {
  padding: 6px 32px 6px 10px !important;
}

.filters {
  padding: 0 15px;
}
.main-login {
  padding: 0 !important;
}
.md-list .md-theme-default {
  background-color: #fafafa !important;
}
.md-drawer.md-theme-default {
  background-color: #fafafa !important;
}

.md-app {
  max-height: 100vh;
  border: 1px solid rgba(#000, 0.12);
}

.main-container {
  border: none !important;
}
.login-container {
  padding: 0 !important;
}
.md-list.md-theme-default {
  background-color: #fafafa !important;
}
.topbar {
  background-color: #fafafa !important;
  border-bottom: 1px solid;
  border-bottom-color: rgba(0, 0, 0, 0.12);
}
.md-title {
  color: rgba(0, 0, 0, 0.87) !important;
}
.logo {
  width: 100px;
}
.md-content.md-theme-default .table {
  background-color: #f4f6fc !important;
}
.hamburger-menu {
  color: rgba(0, 0, 0, 0.54) !important;
}
.table {
  background-color: rgb(244, 246, 251) !important;
}

.md-app.md-fixed .md-app-scroller {
  background-color: rgb(244, 246, 251) !important;
}

// .item {
//   // padding: 6px 24px 6px 24px !important;
//   width: 220px !important;
//   overflow: hidden !important;
//   white-space: nowrap;
//   text-overflow: ellipsis;
// }

.amz {
  & .md-table-row:hover {
    transition: none;
  }
  & tr {
    background-color: white !important;
    border-bottom: 20px solid rgb(244, 246, 251);
    border-radius: 10px !important;
  }
  & tr:hover {
    background-color: none !important;
  }
  & tr:first-child {
    background-color: rgb(244, 246, 251) !important;
  }
  & tr:nth-child(even) {
    // background-color: #fafafa;
  }
}

.md-table-row:hover:not(.filtro-alert) .md-table-cell:not(.filtro-alert) {
  background-color: transparent !important;
}
.table .md-alignment-center-center {
  padding: 0 50px !important;
}
.md-dialog.graph {
  position: fixed;
  left: 50%;
  top: 50%;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 80%;
  max-height: 90%;
  transform: translate(-50%, -50%);
}
.md-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 8px;
}
.md-scrollbar::-webkit-scrollbar-button {
  display: none;
}
.md-scrollbar.md-theme-default::-webkit-scrollbar-corner,
.md-scrollbar.md-theme-default::-webkit-scrollbar-track {
  background: #e1e1e1;
  background: var(
    --md-theme-default-scrollbar-background-on-background-variant,
    #e1e1e1
  );
}
.md-scrollbar.md-theme-default::-webkit-scrollbar-thumb {
  background: #757575;
  background: var(--md-theme-default-scrollbar-on-background-variant, #757575);
}
.md-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 8px;
}
.md-scrollbar.md-theme-default::-webkit-scrollbar-corner,
.md-scrollbar.md-theme-default::-webkit-scrollbar-track {
  background: #e1e1e1;
  background: var(
    --md-theme-default-scrollbar-background-on-background-variant,
    #e1e1e1
  );
}
.md-content.md-table.amz table {
  background-color: rgb(244, 246, 251) !important;
}
