.page-container {
  min-height: 300px;
  overflow: hidden;
  border: 1px solid rgba(#000, 0.12);
}

.md-menu {
  // display: inline-flex !important;
}

.md-avatar {
  width: 30px !important;
  min-width: 30px !important;
  height: 30px !important;
}

.avatar-placeholder {
  display: flex;
  align-self: center;
}

.avatar-name {
  color: rgba(0, 0, 0, 0.87);
  padding-left: 12px !important;
  text-transform: none !important;
}

.md-drawer {
  width: 240px !important;
  max-width: calc(100vw - 125px);
}
.md-list-item-content.dashboard span {
  padding: 10px 10px;
  transition: all 0.3s;
}

.md-toolbar,
.md-toolbar-row {
  width: 100%;
  min-height: 64px;
  display: flex;
  align-items: center;
  align-content: center;
  transition: padding 0.4s !important;
  transition-property: none !important;
  will-change: padding !important;
}

a#drawer {
  display: inherit;
  color: rgba(0, 0, 0, 0.87);
  align-items: center;
}

.quick .md-list-item {
  margin-bottom: 20px;
}

ul:not(#sidebar) .md-list.item {
  margin-bottom: 30px;
}

.md-drawer.md-persistent-mini:not(.md-active) {
  width: 70px !important;
  z-index: 1;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

a#drawers {
  display: inherit;
  color: rgba(0, 0, 0, 0.87);
  align-items: center;
  &:hover {
    text-decoration: underline;
  }
}

#drawer svg {
  color: rgba(0, 0, 0, 0.54);
}

#drawers span:hover {
  text-decoration: underline;
}

.md-app-container {
  overflow: auto !important;
}

.md-app-scroller.md-layout-column.md-flex.md-theme-default.md-scrollbar {
  padding-left: 0 !important;
  /* height: 100%; */
  border: 0 !important;
  overflow: auto;
}

ul#sidebar {
  margin-bottom: 40px !important;
}

.md-toolbar.md-theme-default.md-primary .md-icon {
  color: rgba(0, 0, 0, 0.87) !important;
}

.md-drawer.md-theme-default.md-persistent-mini.md-left {
  border: 0 !important;
  height: 100vh !important;
}

.md-list-item-text:hover {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: underline;
}

.md-list-item-content > a .md-icon:first-child {
  margin-right: 32px;
}

.md-list-item-content > i:hover {
  cursor: pointer;
}

.md-elevation-4 {
  box-shadow: none !important;
}

.amz-active {
  background-color: rgb(244, 246, 251) !important;
  border-left: 3px solid #88b3dd;
  padding-left: 15px;
  border-radius: 3px;
}

.quick-navigation,
.amz-active {
  padding-left: 15px !important;
}

.md-list.quick {
  margin-top: 15px !important;
}

.md-list.main-navigation {
  margin: 0 !important;
}
.main-menu .md-list-item {
  height: 35px;
}

.main-menu span {
  display: block;
}

a:not(.md-button) {
  text-decoration: none !important;
}
.md-drawer.md-persistent-mini:not(.md-active) .md-list-item-content {
  padding: 23px 7px !important;
}

.md-list-item-content > span:hover {
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.4s;
}

// .md-list {
//   margin: 120px 0 !important;
// }

.md-content {
  // padding: 16px;
}

.md-subheading a {
  color: #ffffff !important;
  cursor: pointer;
}

.md-list-item-content {
  justify-content: inherit !important;
}

.login {
  flex: 1;
  text-align: right;
  margin: 0 68px;
  & a {
    color: rgba(0, 0, 0, 0.87) !important;
    float: right;
    cursor: pointer;
  }
  & button {
    flex: 1;
  }
}
// .md-table-head-label {
//   padding-left: 12px !important;
// }

// .md-table-head-container:not(.cheap):not(.cost) {
//   text-align: left;
// }

.md-table-cell-container {
  &:not(.cost):not(.cheap) {
    text-align: center;
  }
  padding: 0 32px 0 10px !important;
}

.md-table-cell.prezzo {
  padding-right: 0 !important;
  & span {
    width: 100% !important;
  }
}

.md-table-cell {
  position: unset !important;
}

.md-table-cell.item {
  & .md-table-cell-container {
    text-align: left;

    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}

.md-tab.switches-wrapper {
  padding: 25px !important;
}

.filters {
  padding: 0 15px;
}
.main-login {
  padding: 0 !important;
}
.md-list .md-theme-default {
  background-color: #fafafa !important;
}
.md-drawer.md-theme-default {
  background-color: #fafafa !important;
}

.md-app {
  max-height: 100vh;
  border: 1px solid rgba(#000, 0.12);
}

.main-container {
  border: none !important;
  overflow: auto !important;
}
.page-container {
  overflow: auto !important;
}
.login-container {
  padding: 0 !important;
}
.md-list.md-theme-default {
  background-color: #fafafa !important;
}
.topbar {
  background-color: #fafafa !important;
  border-bottom: 1px solid;
  border-bottom-color: rgba(0, 0, 0, 0.12);
  padding-right: 0 !important;
}
.md-title {
  color: rgba(0, 0, 0, 0.87) !important;
}
.logo {
  width: 100px;
  margin-left: 56px !important;
}
.md-content.md-theme-default .table {
  background-color: #f4f6fc !important;
}
.hamburger-menu {
  color: rgba(0, 0, 0, 0.54) !important;
}
.table {
  background-color: rgb(244, 246, 251) !important;
}

.md-app.md-fixed .md-app-scroller {
  background-color: rgb(244, 246, 251) !important;
}

// .item {
//   // padding: 6px 24px 6px 24px !important;
//   width: 220px !important;
//   overflow: hidden !important;
//   white-space: nowrap;
//   text-overflow: ellipsis;
// }

// main.md-scrollbar::-webkit-scrollbar {
//   display: none !important;
// }

.amz {
  & .md-table-row:hover {
    transition: none;
  }
  & tr {
    background-color: white !important;
    border-bottom: 10px solid rgb(244, 246, 251);
    border-radius: 10px !important;
    height: 62px;
  }
  & tr:hover {
    background-color: none !important;
  }
  & tr:first-child {
    background-color: rgb(244, 246, 251) !important;
    border-bottom: 3px solid #f4f6fb;
  }
  & tr:nth-child(even) {
    // background-color: #fafafa;
  }
}

.md-table-cell-container .price,
.md-table-cell-container .filtro-alert,
.md-table-cell-container .discount {
  padding: 6px 0 !important;
  white-space: nowrap !important;
}

.md-table-cell-container span.filtro-alert,
.md-table-cell-container span.discount,
.md-table-cell-container span.price {
  padding: 20px 20px !important;
  display: inline-block;
  // width: 85px !important;
}

// .cost .md-table-head-container,
// .cheap .md-table-head-container {
//   padding: 16px 52px 16px 10px;
//   text-align: right;
// }

.cheap .md-table-head-label {
  padding-right: 0 !important;
}

// .cost .md-table-head-label,
// .cheap .md-table-head-label {
//   padding-right: 0 !important;
//   padding-left: 24px !important;
// }

// .cost .md-table-head-container .md-table-head-label,
// .cheap .md-table-cell-container .md-table-head-label {
//   padding-right: 0 !important;
// }

.md-table-row:hover:not(.filtro-alert) .md-table-cell:not(.filtro-alert) {
  background-color: transparent !important;
}
.table {
  padding: 0 50px !important;
}

.md-dialog.spinner.loading .md-dialog.container {
  width: auto !important;
}

.md-dialog-title.md-title.ftitle {
  margin: 0 70px !important;
  padding: 24px 18px 24px 0;
}

.md-dialog-actions.alert-title {
  margin: 0 24px !important;
  padding: 24px 18px 24px 0 !important;
}

.dialog-divider {
  width: 70%;
  margin-left: 24px !important;
  margin-right: auto;
}

.setting {
  min-width: 40px !important;
  margin-right: 0 !important;
}
.md-dialog.filter {
  & .md-layout.md-gutter {
    padding: 20px 0;
  }
  & .md-layout-item {
    margin: 0 auto;
  }
  width: 35% !important;
  margin-left: auto;
  margin-right: auto;
}

.switches {
  padding: 50px 8px 8px 24px !important;
  justify-content: flex-start !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.side svg {
  background-color: transparent;
}

.amz-active .side svg {
  background-color: #f4f6fb;
}

.apply-button {
  // margin-left: 20px !important;
  box-shadow: none !important;
}

.md-table.md-theme-default .md-table-row td {
  border-top-color: transparent !important;
}

.ignore-button {
  border: 1px solid rgba(0, 0, 0, 0.12) !important;
}

.md-button:not([disabled]).ignore-button:hover:before {
  // background-color: unset !important;
}
.md-button.setting .md-icon {
  font-size: 20px !important;
}
.md-tabs.md-theme-default .md-tabs-navigation {
  display: none !important;
}
.md-dialog-container {
  max-width: 90% !important;
  max-height: 90% !important;
  overflow: none !important;
}

.md-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 8px;
}
.md-scrollbar::-webkit-scrollbar-button {
  display: none;
}
.md-table-cell.fix,
.md-table-head.fix {
  text-align: right;
}
.md-scrollbar.md-theme-default::-webkit-scrollbar-corner,
.md-scrollbar.md-theme-default::-webkit-scrollbar-track {
  background: #e1e1e1;
  background: var(
    --md-theme-default-scrollbar-background-on-background-variant,
    #e1e1e1
  );
}
.md-scrollbar.md-theme-default::-webkit-scrollbar-thumb {
  background: #757575;
  background: var(--md-theme-default-scrollbar-on-background-variant, #757575);
}
.md-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 8px;
}
.md-scrollbar.md-theme-default::-webkit-scrollbar-corner,
.md-scrollbar.md-theme-default::-webkit-scrollbar-track {
  background: #e1e1e1;
  background: var(
    --md-theme-default-scrollbar-background-on-background-variant,
    #e1e1e1
  );
}
.md-content.md-table.amz table {
  background-color: rgb(244, 246, 251) !important;
}

// .md-table-cell.prezzo.is-dashboard,
// .md-table-cell.cheap.is-dashboard,
// .md-table-cell.stock.is-dashboard  {
//   width: 65px!important;
//   max-width: 65px!important;
// }
