.page-container {
  min-height: 300px;
  overflow: hidden;
  border: 1px solid rgba(#000, 0.12);
}

.md-drawer {
  width: 230px;
  max-width: calc(100vw - 125px);
}

.md-content {
  // padding: 16px;
}

.md-subheading a {
  color: #ffffff !important;
  cursor: pointer;
}

.md-list-item-content {
  justify-content: inherit !important;
}
